<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicariOtomasyon.DesktopUI.Properties.Settings.DboTicariOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-SL1S3RQ\SQLEXPRESS;Initial Catalog=DboTicariOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>